@use './_variables' as *;

@mixin card {
    background: $white;
    border: 1px solid $gray-200;
    border-radius: $radius-xl;
    box-shadow: $shadow-sm;
}


@mixin button-reset {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
}