$red-600: #EF3124;
$red-50: #ffe4e6;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-900: #111827;
$white: #ffffff;
$green: #A9EF01;


$radius-xl: 16px;
$radius-2xl: 20px;
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);