@use './_variables' as *;
@use './_mixins' as *;


.wrap {
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
}

.card {
    @include card;
    max-width: 520px;
    margin: 0 auto;
    padding: 20px;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background: $red-50;
    color: $red-600;
    display: grid;
    place-items: center;
    margin: 0 auto 12px;
    font-weight: 700;
}

.card h2 {
    margin: 0 0 6px 0;
    font-size: 18px;
}

.card p {
    margin: 0 0 6px 0;
    color: $gray-500;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    color: $gray-500;
    text-align: left;
}

.card li {
    margin: 4px 0;
}